.signUp .right{
    background-color: #CBE4E8;
}
.signUp .form-control{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #000000;
}
.signUp .btn-primary{
    background-color: #DB4444;
    border: none;
}
.signUp .btn-primary:hover{
    color: #000000;
}