<header >
  <div class="top-header">
  <div></div>
    <h5>Summer Sale For All Swim Suits And Free Express Delivery - OFF 50%! <a href="">ShopNow</a></h5>
    <div class="btn-group group-button-header" role="group" aria-label="Button group with nested dropdown">
      <button type="button" class="btn btn-primary">English</button>  
      <div class="btn-group" role="group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Arabic</a></li>
          <li><a class="dropdown-item" href="#">Chinese</a></li>
          <li><a class="dropdown-item" href="#">French</a></li>
        </ul>
      </div>
    </div>
  </div>
  <app-navbar ></app-navbar>

  </header>
