<app-header></app-header>
<main class="error404">
    <div class="mt-5 mb-5 container">
        <div>
            <a class="text-muted btn" routerLink="/home" routerLinkActive="active">Home</a> / 
            <a class=" btn border-0" routerLink="/error404" routerLinkActive="active">404 Error</a>
        </div>
        <div class="text-center p-2">
            <h1>404 Not Found</h1>
            <p>Your visited page not found. You may go home page.</p>
            <a class=" btn btn-danger" routerLink="/home" routerLinkActive="active">Back to home page</a>
         
        </div>
    </div>
</main>

<app-footer></app-footer>