.wish-list .card{
    transition: all 1s ;
    margin: 10px auto !important;
}
.wish-list .card:hover

{
    border: 1px solid hsl(0deg 67.71% 56.27%) !important;

}
.wish-list .card img
{
    min-width: 200px;
    max-width: 200px;
    max-height: 200px;
    min-height: 200px;
}
.wish-list .header{
    border-left: 15px solid hsl(0deg 67.71% 56.27%);
    margin-right: 10px;
    display: inline-block;
    height: 25px;
    border-radius: 1px;
}
 .fa-star{
    color: #FFAD33;
  
}