



  <!-- Section: Links  -->
  <section class="bg-black text-light links">
    <div class="container  text-center  mt-5">
   
      <!-- Grid row -->
      <div class="row mt-3 ">
        <!-- Grid column -->
        <div class="col-md-3 mt-4 mb-3 ">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            Exclusive
          </h6>
          <p>
            Subscribe          
          </p>
          <p>Get 10% off your first order</p>
          <div class="input-group border-light mb-3 border-2">
            <input type="text" class="form-control border-0 bg-black" placeholder="Enter your email" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <span class="input-group-text btn" id="basic-addon2">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9.91199 11.9998H3.99999L2.02299 4.1348C2.01033 4.0891 2.00262 4.04216 1.99999 3.9948C1.97799 3.2738 2.77199 2.7738 3.45999 3.1038L22 11.9998L3.45999 20.8958C2.77999 21.2228 1.99599 20.7368 1.99999 20.0288C2.00201 19.9655 2.01313 19.9029 2.03299 19.8428L3.49999 14.9998" stroke="#f4f4f4" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              
            </span>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 mt-4 mb-3 ">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Support
          </h6>
          <p>
            111 Bijoy sarani, Dhaka,  DH 1515, Bangladesh.
          </p>
          <p>
            exclusive&#64;gmail.com
          </p>
          <p>
            +88015-88888-9999
          </p>
          
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 mt-4 mb-3 ">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">
            Account
          </h6>
          <div>
            <a routerLink="['/account']" >My Account
            </a>
          </div>
          <div>
            <a routerLink="['/signup']" >Login / Register
            </a>
          </div>
          <div>
            <a routerLink="['/cart-shopping']" >Cart
            </a>
          </div>
          <div>
            <a routerLink="['/wishlist']" >Wishlist
            </a>
          </div>
          <div>
            <a routerLink="['/']" >Shop
            </a>
          </div>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 mt-4 mb-3 ">
          <!-- Links -->
          <h6 class="text-uppercase fw-bold mb-4">Quick Link</h6>
          <p> Privacy Policy</p>
          <p>
            Terms Of Use
          </p>
          <p>FAQ</p>
          <p>Contact</p>
        </div>

        <div class="col-md-3  mt-4 mb-3  ">
          <!-- Content -->
          <h6 class="text-uppercase fw-bold mb-4">
            Download App
          </h6>
          <p>
            Save $3 with App New User Only          
          </p>
          <div class="row">
            <div class="col-md-6">
              <img src="assets/images/qr.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-md-6">
              <div class="d-flex justify-content-around align-content-center">
                <div class="icons">
                  <i class="fa-brands fa-google-play"></i>
                </div>
                <div class="d-flex flex-column">
                  <span>Get It ON</span>
                  <span>Google Play </span>
                </div>
              </div>
              <div class="d-flex justify-content-around align-content-center">
                <div class="icons">
                  <i class="fa-brands fa-apple"></i>
                </div>
                <div class="d-flex flex-column">
                  <span>Download On The</span>
                  <span>App Store </span>
                </div>
              </div>
            </div>
          </div>
      
          <div class="row">
            <div class="col">
              <i class="fa-brands fa-facebook"></i>
            </div>
            <div class="col">
              <i class="fa-brands fa-twitter"></i>
            </div>
            <div class="col">
              <i class="fa-brands fa-instagram"></i>
            </div>
            <div class="col">
              <i class="fa-brands fa-linkedin-in"></i>
            </div>
          </div>

        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
   
  </section>
  <!-- Section: Links  -->

<footer class="bg-black text-center text-light footer">
  <i class="fa-regular fa-copyright"></i> Copyright Rimel 2022. All right reserved
</footer>